* {
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
    width: 100%;
    margin: 0 0 0 450px;
   
}
a {
    text-decoration: none;

}
.div-link{
    width: 90px;
    height: 60px;
    padding: 50px;
    left: 0;
}

div {
    display: flex;
    justify-content: space-between;
    padding: 0 x;
}
.nav-ul{
    display: flex;
}

.first-li{
    margin: 0px 10px 0px;
    justify-content: space-between;
    padding: 30px 30px;
    float: left;
    display: inline;
    
   
}
.secend-li{
    margin: 0 10px 0;
    margin: 10px 10px 10px;
    justify-content: space-between;
    padding: 30px 30px;
    float: left;
    display: inline;
    
}
    

    
   
.nav-li1{
    color: red;
    margin: 0px 10px 0px;
    justify-content: space-between;
    padding: 30px 30px;
    float: left;
    display: inline;
    
   
}
.nav-li2{
    color: gray;
    margin: 0px 10px 0px;
    justify-content: space-between;
    padding: 30px 30px;
    float: left;
    display: inline;
    
    
}
.box{
    background: silver;
    
}
.br{
    position: absolute;
    background-color: silver;
    width: 100%;
    height: 200px;
   
     
}
.div-main{
    margin: auto;
    padding-top: 300px ;
   padding-left: 1500px;
}
.section{
    margin: auto;
    padding-left: 750px;
    padding-top:100px;
    
}
.section2{
   margin: auto;
   padding-left: 1550px;
   padding-top:150px;
}
.footer{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 400px;
    padding-top: 150px;
}